body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2d8c2;
  background-position: fixed;
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  padding: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.container {
  background-color: white;
}
div.container.card {
  padding-left: 0;
  padding-right: 0;
}

.one {
  padding-top: 10%;
  background-color: #ffa500;
  width: 20px;
  height: 50%;
}

#day-five {
  margin-top: 1rem;
  text-align: center;
  
}

#five-title {
  text-align: center;
}


#five-title {
  margin-left: 4px;
}

div.card-body.five {
  width: 8.5rem;
  border-radius: 10px;
  margin-right: 40px;
  margin-top: 30px;
  margin-left: 6px;
  background-color: #f2d8c2;
}

button {
  font-family: "Open Sans", sans-serif;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

